<div class="row">
    <div class="col-lg-6">
        <p class="page-name-headline">Trash</p>
    </div>
    <div ng-if="(notes | filter : {'trashed':true}).length">
        <div class="col-lg-6">
            <a class="btn btn-danger btn-round pull-right" title="Clear trash" ng-click="deleteAll()">Clear trash</a>
        </div>
    </div>
</div>


<div class="center" ng-if="!(notes | filter : {'trashed':true}).length">
    <div class="row">
        <h3 style="font-weight: bold">Trash is Empty</h3>
    </div>
    <div class="row">
        <p>Your trashcan is empty.</p>
    </div>
</div>

<div id="masonry">
    <div class="card" ng-repeat="note in notes" ng-if="note.trashed" style="background-color: {{note.color}};" >
        <note-card note="note"></note-card>
    </div>
</div>