<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrackNotes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src = "config.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/NotesController.js"></script>
    <script src="scripts/controllers/TrashController.js"></script>
    <script src="scripts/controllers/ModalController.js"></script>
    <script src="scripts/controllers/NavbarController.js"></script>
    <script src="scripts/services/NotesService.js"></script>
    <script src="scripts/services/CurrentPageService.js"></script>
    <script src="scripts/directives/file-input.js"></script>
    <script src="scripts/directives/note-card.js"></script>
    <script src="scripts/directives/active-tab.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/indexStyle.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript">-->
        <!--$( document ).ready( function(){-->
            <!--$('.sidebar-nav').on('click',"li",function () {-->
                <!--$("li").removeClass('active');-->
                <!--$(this).addClass('active')-->
            <!--});-->
        <!--});-->
    <!--</script>-->
</head>
<body ng-app="trackNotes" style="font-family: 'Open Sans', sans-serif;">

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="my-sidebar-nav" ng-controller="NavbarController">
            <img src="Images/note-tracker-logo.svg" class="track-notes-logo">
            <li ng-class="{'active': currentPage === 'allNotesPage'}">
                <a ui-sref="beginingState" ng-click="setCurrent('allNotesPage')"><span class="gh gh-icon-all-notes"></span> All Notes</a>
            </li>
            <li ng-class="{'active': currentPage === 'notesPage'}">
                <a ui-sref="beginingState" ng-click="setCurrent('notesPage')"><span class="gh gh-icon-notes"></span> Notes</a>
            </li>
            <li ng-class="{'active': currentPage === 'imagesPage'}">
                <a ui-sref="beginingState" ng-click="setCurrent('imagesPage')"><span class="gh gh-icon-images"></span> Images</a>
            </li>
            <li ng-class="{'active': currentPage === 'linksPage'}">
                <a ui-sref="beginingState" ng-click="setCurrent('linksPage')"><span class="gh gh-icon-link"></span> Links</a>
            </li>
            <li id="sidebar-divider">
                <hr />
            </li>
            <li ng-class="{'active': currentPage === 'trashPage'}">
                <a ui-sref="trashedNotes" ng-click="setCurrent('trashPage')" href="#"><span class="gh gh-icon-trash"></span> Trash</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">


        <div class="container-fluid">
            <div class="row">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript">
    $(document).on('click', '.user-feedback-trigger', function () {
        $('.user-feedback-modal').modal();
    });
</script>

</body>
</html>